/* ------------------------------------------------------------------ SOCIAL */
/* ------------------------------------------------------------------ COMPONENT EXTRA LIGHT */
/* ------------------------------------------------------------------ COMPONENT LIGHT */
/* ------------------------------------------------------------------ COMPONENT REGULAR */
/* ------------------------------------------------------------------ COMPONENT DARK */
/* ------------------------------------------------------------------ FOCUS */
/* ------------------------------------------------------------------ TRIANGLE */
/* ------------------------------------------------------------------ GRADIENT */
/* ------------------------------------------------------------------ TEXT SHADOW */
/* ------------------------------------------------------------------ Z-INDEX */
/* ------------------------------------------------------------------ PSEUDO ELEMENT */
/* ------------------------------------------------------------------ SOCIAL */
/* ------------------------------------------------------------------ SOCIAL */
/* ------------------------------------------------------------------ COMPONENT EXTRA LIGHT */
/* ------------------------------------------------------------------ COMPONENT LIGHT */
/* ------------------------------------------------------------------ COMPONENT REGULAR*/
.page .color-skin[class*="color-"] {
  background-color: #ffd9ad; }

.page .color-grey[class*="color-"] {
  background-color: #bbbbbb; }

.page .color-blue[class*="color-"] {
  background-color: #1761d9; }

.page .color-green[class*="color-"] {
  background-color: #4b9a49; }

.page .color-cyan[class*="color-"] {
  background-color: #35bfdc; }

.page .color-orange[class*="color-"] {
  background-color: #f49c14; }

.page .color-red[class*="color-"] {
  background-color: #d91818; }

.page .color-yellow[class*="color-"] {
  background-color: #d5ba00; }

.page .color-purple[class*="color-"] {
  background-color: #6b60a7; }

.page .color-brown[class*="color-"] {
  background-color: #a27556; }

.page .color-pink[class*="color-"] {
  background-color: #ff3aff; }

.page .color-black[class*="color-"] {
  background-color: #333333; }

.page .color-white[class*="color-"] {
  background-color: #ffffff; }

/* ------------------------------------------------------------------ COMPONENT DARK */
/* ------------------------------------------------------------------ COMPONENT FOCUS */
/* ------------------------------------------------------------------ COMPONENT EXTRA LIGHT */
/* ------------------------------------------------------------------ COMPONENT LIGHT */
/* ------------------------------------------------------------------ COMPONENT REGULAR */
/* ------------------------------------------------------------------ COMPONENT DARK */
/* ------------------------------------------------------------------ FOCUS */
/* ------------------------------------------------------------------ TRIANGLE */
/* ------------------------------------------------------------------ Z-INDEX */
/* ------------------------------------------------------------------ PSEUDO ELEMENT */
/*regular*/
/*small*/
/*extra small*/
/*big*/
/*extra big*/
html,
body {
  margin: 0;
  padding: 0; }

.page [class*="color-"] {
  display: inline-block;
  float: left;
  height: 50px;
  position: relative;
  width: 50px; }
  .page [class*="color-"]:before {
    content: "";
    display: block;
    position: relative;
    padding: 50%; }
  .page [class*="color-"].color-grey:after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    height: 5px;
    left: calc(50% - 2.5px);
    top: calc(50% - 2.5px);
    width: 5px; }
  .page [class*="color-"].color-blue:after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    height: 5px;
    left: calc(50% - 2.5px);
    top: calc(50% - 2.5px);
    width: 5px; }
  .page [class*="color-"].color-green:after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    height: 5px;
    left: calc(50% - 2.5px);
    top: calc(50% - 2.5px);
    width: 5px; }
  .page [class*="color-"].color-cyan:after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    height: 5px;
    left: calc(50% - 2.5px);
    top: calc(50% - 2.5px);
    width: 5px; }
  .page [class*="color-"].color-orange:after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    height: 5px;
    left: calc(50% - 2.5px);
    top: calc(50% - 2.5px);
    width: 5px; }
  .page [class*="color-"].color-red:after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    height: 5px;
    left: calc(50% - 2.5px);
    top: calc(50% - 2.5px);
    width: 5px; }
  .page [class*="color-"].color-yellow:after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    height: 5px;
    left: calc(50% - 2.5px);
    top: calc(50% - 2.5px);
    width: 5px; }
  .page [class*="color-"].color-purple:after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    height: 5px;
    left: calc(50% - 2.5px);
    top: calc(50% - 2.5px);
    width: 5px; }
  .page [class*="color-"].color-brown:after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    height: 5px;
    left: calc(50% - 2.5px);
    top: calc(50% - 2.5px);
    width: 5px; }
  .page [class*="color-"].color-black:after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    height: 5px;
    left: calc(50% - 2.5px);
    top: calc(50% - 2.5px);
    width: 5px; }
  .page [class*="color-"].color-white:after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    height: 5px;
    left: calc(50% - 2.5px);
    top: calc(50% - 2.5px);
    width: 5px; }
  .page [class*="color-"].color-pink:after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    height: 5px;
    left: calc(50% - 2.5px);
    top: calc(50% - 2.5px);
    width: 5px; }
  .page [class*="color-"].color-skin:after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    height: 5px;
    left: calc(50% - 2.5px);
    top: calc(50% - 2.5px);
    width: 5px; }
  .page [class*="color-"].color-grey-lighten-1 {
    background-color: #c8c8c8; }
  .page [class*="color-"].color-grey-darken-1 {
    background-color: #aeaeae; }
  .page [class*="color-"].color-blue-lighten-1 {
    background-color: #226de8; }
  .page [class*="color-"].color-blue-darken-1 {
    background-color: #1557c2; }
  .page [class*="color-"].color-green-lighten-1 {
    background-color: #53ab51; }
  .page [class*="color-"].color-green-darken-1 {
    background-color: #438941; }
  .page [class*="color-"].color-cyan-lighten-1 {
    background-color: #4bc6e0; }
  .page [class*="color-"].color-cyan-darken-1 {
    background-color: #25b5d3; }
  .page [class*="color-"].color-orange-lighten-1 {
    background-color: #f5a62c; }
  .page [class*="color-"].color-orange-darken-1 {
    background-color: #e48f0b; }
  .page [class*="color-"].color-red-lighten-1 {
    background-color: #e72424; }
  .page [class*="color-"].color-red-darken-1 {
    background-color: #c21515; }
  .page [class*="color-"].color-yellow-lighten-1 {
    background-color: #efd000; }
  .page [class*="color-"].color-yellow-darken-1 {
    background-color: #bca400; }
  .page [class*="color-"].color-purple-lighten-1 {
    background-color: #7a70b0; }
  .page [class*="color-"].color-purple-darken-1 {
    background-color: #5f5599; }
  .page [class*="color-"].color-brown-lighten-1 {
    background-color: #ad8265; }
  .page [class*="color-"].color-brown-darken-1 {
    background-color: #91694d; }
  .page [class*="color-"].color-pink-lighten-1 {
    background-color: #ff54ff; }
  .page [class*="color-"].color-pink-darken-1 {
    background-color: #ff21ff; }
  .page [class*="color-"].color-black-lighten-1 {
    background-color: #404040; }
  .page [class*="color-"].color-black-darken-1 {
    background-color: #262626; }
  .page [class*="color-"].color-white-lighten-1 {
    background-color: white; }
  .page [class*="color-"].color-white-darken-1 {
    background-color: #f2f2f2; }
  .page [class*="color-"].color-skin-lighten-1 {
    background-color: #ffe5c7; }
  .page [class*="color-"].color-skin-darken-1 {
    background-color: #ffcd94; }
  .page [class*="color-"].color-grey-lighten-2 {
    background-color: #d5d5d5; }
  .page [class*="color-"].color-grey-darken-2 {
    background-color: #a2a2a2; }
  .page [class*="color-"].color-blue-lighten-2 {
    background-color: #397dea; }
  .page [class*="color-"].color-blue-darken-2 {
    background-color: #124cab; }
  .page [class*="color-"].color-green-lighten-2 {
    background-color: #64b462; }
  .page [class*="color-"].color-green-darken-2 {
    background-color: #3a7739; }
  .page [class*="color-"].color-cyan-lighten-2 {
    background-color: #60cde4; }
  .page [class*="color-"].color-cyan-darken-2 {
    background-color: #21a2bd; }
  .page [class*="color-"].color-orange-lighten-2 {
    background-color: #f6b145; }
  .page [class*="color-"].color-orange-darken-2 {
    background-color: #cb7f0a; }
  .page [class*="color-"].color-red-lighten-2 {
    background-color: #e93b3b; }
  .page [class*="color-"].color-red-darken-2 {
    background-color: #ab1313; }
  .page [class*="color-"].color-yellow-lighten-2 {
    background-color: #ffe009; }
  .page [class*="color-"].color-yellow-darken-2 {
    background-color: #a28d00; }
  .page [class*="color-"].color-purple-lighten-2 {
    background-color: #8a81b9; }
  .page [class*="color-"].color-purple-darken-2 {
    background-color: #554c88; }
  .page [class*="color-"].color-brown-lighten-2 {
    background-color: #b69075; }
  .page [class*="color-"].color-brown-darken-2 {
    background-color: #815d44; }
  .page [class*="color-"].color-pink-lighten-2 {
    background-color: #ff6dff; }
  .page [class*="color-"].color-pink-darken-2 {
    background-color: #ff07ff; }
  .page [class*="color-"].color-black-lighten-2 {
    background-color: #4d4d4d; }
  .page [class*="color-"].color-black-darken-2 {
    background-color: #1a1a1a; }
  .page [class*="color-"].color-white-lighten-2 {
    background-color: white; }
  .page [class*="color-"].color-white-darken-2 {
    background-color: #e6e6e6; }
  .page [class*="color-"].color-skin-lighten-2 {
    background-color: #fff1e0; }
  .page [class*="color-"].color-skin-darken-2 {
    background-color: #ffc17a; }
  .page [class*="color-"].color-grey-lighten-3 {
    background-color: #e1e1e1; }
  .page [class*="color-"].color-grey-darken-3 {
    background-color: #959595; }
  .page [class*="color-"].color-blue-lighten-3 {
    background-color: #508cec; }
  .page [class*="color-"].color-blue-darken-3 {
    background-color: #104294; }
  .page [class*="color-"].color-green-lighten-3 {
    background-color: #75bd73; }
  .page [class*="color-"].color-green-darken-3 {
    background-color: #326630; }
  .page [class*="color-"].color-cyan-lighten-3 {
    background-color: #76d4e7; }
  .page [class*="color-"].color-cyan-darken-3 {
    background-color: #1d8fa7; }
  .page [class*="color-"].color-orange-lighten-3 {
    background-color: #f7bb5d; }
  .page [class*="color-"].color-orange-darken-3 {
    background-color: #b37008; }
  .page [class*="color-"].color-red-lighten-3 {
    background-color: #ec5252; }
  .page [class*="color-"].color-red-darken-3 {
    background-color: #941010; }
  .page [class*="color-"].color-yellow-lighten-3 {
    background-color: #ffe323; }
  .page [class*="color-"].color-yellow-darken-3 {
    background-color: #897700; }
  .page [class*="color-"].color-purple-lighten-3 {
    background-color: #9991c2; }
  .page [class*="color-"].color-purple-darken-3 {
    background-color: #4b4278; }
  .page [class*="color-"].color-brown-lighten-3 {
    background-color: #bf9d86; }
  .page [class*="color-"].color-brown-darken-3 {
    background-color: #70513b; }
  .page [class*="color-"].color-pink-lighten-3 {
    background-color: #ff87ff; }
  .page [class*="color-"].color-pink-darken-3 {
    background-color: #ed00ed; }
  .page [class*="color-"].color-black-lighten-3 {
    background-color: #595959; }
  .page [class*="color-"].color-black-darken-3 {
    background-color: #0d0d0d; }
  .page [class*="color-"].color-white-lighten-3 {
    background-color: white; }
  .page [class*="color-"].color-white-darken-3 {
    background-color: #d9d9d9; }
  .page [class*="color-"].color-skin-lighten-3 {
    background-color: #fffcfa; }
  .page [class*="color-"].color-skin-darken-3 {
    background-color: #ffb661; }
  .page [class*="color-"].color-grey-lighten-4 {
    background-color: #eeeeee; }
  .page [class*="color-"].color-grey-darken-4 {
    background-color: #888888; }
  .page [class*="color-"].color-blue-lighten-4 {
    background-color: #679bef; }
  .page [class*="color-"].color-blue-darken-4 {
    background-color: #0d387d; }
  .page [class*="color-"].color-green-lighten-4 {
    background-color: #86c584; }
  .page [class*="color-"].color-green-darken-4 {
    background-color: #295528; }
  .page [class*="color-"].color-cyan-lighten-4 {
    background-color: #8cdbeb; }
  .page [class*="color-"].color-cyan-darken-4 {
    background-color: #197d92; }
  .page [class*="color-"].color-orange-lighten-4 {
    background-color: #f9c575; }
  .page [class*="color-"].color-orange-darken-4 {
    background-color: #9b6107; }
  .page [class*="color-"].color-red-lighten-4 {
    background-color: #ee6969; }
  .page [class*="color-"].color-red-darken-4 {
    background-color: #7d0e0e; }
  .page [class*="color-"].color-yellow-lighten-4 {
    background-color: #ffe63c; }
  .page [class*="color-"].color-yellow-darken-4 {
    background-color: #6f6100; }
  .page [class*="color-"].color-purple-lighten-4 {
    background-color: #a8a2cb; }
  .page [class*="color-"].color-purple-darken-4 {
    background-color: #413968; }
  .page [class*="color-"].color-brown-lighten-4 {
    background-color: #c8aa96; }
  .page [class*="color-"].color-brown-darken-4 {
    background-color: #5f4533; }
  .page [class*="color-"].color-pink-lighten-4 {
    background-color: #ffa0ff; }
  .page [class*="color-"].color-pink-darken-4 {
    background-color: #d300d3; }
  .page [class*="color-"].color-black-lighten-4 {
    background-color: #666666; }
  .page [class*="color-"].color-black-darken-4 {
    background-color: black; }
  .page [class*="color-"].color-white-lighten-4 {
    background-color: white; }
  .page [class*="color-"].color-white-darken-4 {
    background-color: #cccccc; }
  .page [class*="color-"].color-skin-lighten-4 {
    background-color: white; }
  .page [class*="color-"].color-skin-darken-4 {
    background-color: #ffaa47; }
  .page [class*="color-"].color-grey-lighten-5 {
    background-color: #fbfbfb; }
  .page [class*="color-"].color-grey-darken-5 {
    background-color: #7b7b7b; }
  .page [class*="color-"].color-blue-lighten-5 {
    background-color: #7eaaf1; }
  .page [class*="color-"].color-blue-darken-5 {
    background-color: #0b2d66; }
  .page [class*="color-"].color-green-lighten-5 {
    background-color: #97cd96; }
  .page [class*="color-"].color-green-darken-5 {
    background-color: #214420; }
  .page [class*="color-"].color-cyan-lighten-5 {
    background-color: #a2e1ef; }
  .page [class*="color-"].color-cyan-darken-5 {
    background-color: #156a7c; }
  .page [class*="color-"].color-orange-lighten-5 {
    background-color: #facf8e; }
  .page [class*="color-"].color-orange-darken-5 {
    background-color: #825206; }
  .page [class*="color-"].color-red-lighten-5 {
    background-color: #f18080; }
  .page [class*="color-"].color-red-darken-5 {
    background-color: #660b0b; }
  .page [class*="color-"].color-yellow-lighten-5 {
    background-color: #ffea56; }
  .page [class*="color-"].color-yellow-darken-5 {
    background-color: #564b00; }
  .page [class*="color-"].color-purple-lighten-5 {
    background-color: #b7b2d4; }
  .page [class*="color-"].color-purple-darken-5 {
    background-color: #363057; }
  .page [class*="color-"].color-brown-lighten-5 {
    background-color: #d0b8a7; }
  .page [class*="color-"].color-brown-darken-5 {
    background-color: #4f392a; }
  .page [class*="color-"].color-pink-lighten-5 {
    background-color: #ffbaff; }
  .page [class*="color-"].color-pink-darken-5 {
    background-color: #ba00ba; }
  .page [class*="color-"].color-black-lighten-5 {
    background-color: #737373; }
  .page [class*="color-"].color-black-darken-5 {
    background-color: black; }
  .page [class*="color-"].color-white-lighten-5 {
    background-color: white; }
  .page [class*="color-"].color-white-darken-5 {
    background-color: #bfbfbf; }
  .page [class*="color-"].color-skin-lighten-5 {
    background-color: white; }
  .page [class*="color-"].color-skin-darken-5 {
    background-color: #ff9e2e; }
  .page [class*="color-"].color-grey-lighten-6 {
    background-color: white; }
  .page [class*="color-"].color-grey-darken-6 {
    background-color: #6f6f6f; }
  .page [class*="color-"].color-blue-lighten-6 {
    background-color: #95b9f4; }
  .page [class*="color-"].color-blue-darken-6 {
    background-color: #08234f; }
  .page [class*="color-"].color-green-lighten-6 {
    background-color: #a8d5a7; }
  .page [class*="color-"].color-green-darken-6 {
    background-color: #183218; }
  .page [class*="color-"].color-cyan-lighten-6 {
    background-color: #b7e8f3; }
  .page [class*="color-"].color-cyan-darken-6 {
    background-color: #125866; }
  .page [class*="color-"].color-orange-lighten-6 {
    background-color: #fbdaa6; }
  .page [class*="color-"].color-orange-darken-6 {
    background-color: #6a4205; }
  .page [class*="color-"].color-red-lighten-6 {
    background-color: #f39797; }
  .page [class*="color-"].color-red-darken-6 {
    background-color: #4f0909; }
  .page [class*="color-"].color-yellow-lighten-6 {
    background-color: #ffed6f; }
  .page [class*="color-"].color-yellow-darken-6 {
    background-color: #3c3400; }
  .page [class*="color-"].color-purple-lighten-6 {
    background-color: #c7c2de; }
  .page [class*="color-"].color-purple-darken-6 {
    background-color: #2c2747; }
  .page [class*="color-"].color-brown-lighten-6 {
    background-color: #d9c5b8; }
  .page [class*="color-"].color-brown-darken-6 {
    background-color: #3e2d21; }
  .page [class*="color-"].color-pink-lighten-6 {
    background-color: #ffd3ff; }
  .page [class*="color-"].color-pink-darken-6 {
    background-color: #a000a0; }
  .page [class*="color-"].color-black-lighten-6 {
    background-color: gray; }
  .page [class*="color-"].color-black-darken-6 {
    background-color: black; }
  .page [class*="color-"].color-white-lighten-6 {
    background-color: white; }
  .page [class*="color-"].color-white-darken-6 {
    background-color: #b3b3b3; }
  .page [class*="color-"].color-skin-lighten-6 {
    background-color: white; }
  .page [class*="color-"].color-skin-darken-6 {
    background-color: #ff9214; }
  .page [class*="color-"].color-grey-lighten-7 {
    background-color: white; }
  .page [class*="color-"].color-grey-darken-7 {
    background-color: #626262; }
  .page [class*="color-"].color-blue-lighten-7 {
    background-color: #acc8f6; }
  .page [class*="color-"].color-blue-darken-7 {
    background-color: #061938; }
  .page [class*="color-"].color-green-lighten-7 {
    background-color: #b9ddb8; }
  .page [class*="color-"].color-green-darken-7 {
    background-color: #102110; }
  .page [class*="color-"].color-cyan-lighten-7 {
    background-color: #cdeff6; }
  .page [class*="color-"].color-cyan-darken-7 {
    background-color: #0e4551; }
  .page [class*="color-"].color-orange-lighten-7 {
    background-color: #fce4bf; }
  .page [class*="color-"].color-orange-darken-7 {
    background-color: #523304; }
  .page [class*="color-"].color-red-lighten-7 {
    background-color: #f6aeae; }
  .page [class*="color-"].color-red-darken-7 {
    background-color: #380606; }
  .page [class*="color-"].color-yellow-lighten-7 {
    background-color: #fff089; }
  .page [class*="color-"].color-yellow-darken-7 {
    background-color: #231e00; }
  .page [class*="color-"].color-purple-lighten-7 {
    background-color: #d6d3e7; }
  .page [class*="color-"].color-purple-darken-7 {
    background-color: #221e36; }
  .page [class*="color-"].color-brown-lighten-7 {
    background-color: #e2d3c8; }
  .page [class*="color-"].color-brown-darken-7 {
    background-color: #2d2118; }
  .page [class*="color-"].color-pink-lighten-7 {
    background-color: #ffedff; }
  .page [class*="color-"].color-pink-darken-7 {
    background-color: #870087; }
  .page [class*="color-"].color-black-lighten-7 {
    background-color: #8c8c8c; }
  .page [class*="color-"].color-black-darken-7 {
    background-color: black; }
  .page [class*="color-"].color-white-lighten-7 {
    background-color: white; }
  .page [class*="color-"].color-white-darken-7 {
    background-color: #a6a6a6; }
  .page [class*="color-"].color-skin-lighten-7 {
    background-color: white; }
  .page [class*="color-"].color-skin-darken-7 {
    background-color: #fa8600; }
  .page [class*="color-"].color-grey-lighten-8 {
    background-color: white; }
  .page [class*="color-"].color-grey-darken-8 {
    background-color: #555555; }
  .page [class*="color-"].color-blue-lighten-8 {
    background-color: #c3d8f9; }
  .page [class*="color-"].color-blue-darken-8 {
    background-color: #030f21; }
  .page [class*="color-"].color-green-lighten-8 {
    background-color: #cae6c9; }
  .page [class*="color-"].color-green-darken-8 {
    background-color: #081007; }
  .page [class*="color-"].color-cyan-lighten-8 {
    background-color: #e3f6fa; }
  .page [class*="color-"].color-cyan-darken-8 {
    background-color: #0a323b; }
  .page [class*="color-"].color-orange-lighten-8 {
    background-color: #fdeed7; }
  .page [class*="color-"].color-orange-darken-8 {
    background-color: #392403; }
  .page [class*="color-"].color-red-lighten-8 {
    background-color: #f9c4c4; }
  .page [class*="color-"].color-red-darken-8 {
    background-color: #210404; }
  .page [class*="color-"].color-yellow-lighten-8 {
    background-color: #fff3a2; }
  .page [class*="color-"].color-yellow-darken-8 {
    background-color: #090800; }
  .page [class*="color-"].color-purple-lighten-8 {
    background-color: #e5e3f0; }
  .page [class*="color-"].color-purple-darken-8 {
    background-color: #181526; }
  .page [class*="color-"].color-brown-lighten-8 {
    background-color: #ebe0d9; }
  .page [class*="color-"].color-brown-darken-8 {
    background-color: #1d150f; }
  .page [class*="color-"].color-pink-lighten-8 {
    background-color: white; }
  .page [class*="color-"].color-pink-darken-8 {
    background-color: #6d006d; }
  .page [class*="color-"].color-black-lighten-8 {
    background-color: #999999; }
  .page [class*="color-"].color-black-darken-8 {
    background-color: black; }
  .page [class*="color-"].color-white-lighten-8 {
    background-color: white; }
  .page [class*="color-"].color-white-darken-8 {
    background-color: #999999; }
  .page [class*="color-"].color-skin-lighten-8 {
    background-color: white; }
  .page [class*="color-"].color-skin-darken-8 {
    background-color: #e07800; }
  .page [class*="color-"].color-grey-lighten-9 {
    background-color: white; }
  .page [class*="color-"].color-grey-darken-9 {
    background-color: #484848; }
  .page [class*="color-"].color-blue-lighten-9 {
    background-color: #dae7fb; }
  .page [class*="color-"].color-blue-darken-9 {
    background-color: #010409; }
  .page [class*="color-"].color-green-lighten-9 {
    background-color: #dbeedb; }
  .page [class*="color-"].color-green-darken-9 {
    background-color: black; }
  .page [class*="color-"].color-cyan-lighten-9 {
    background-color: #f9fdfe; }
  .page [class*="color-"].color-cyan-darken-9 {
    background-color: #062025; }
  .page [class*="color-"].color-orange-lighten-9 {
    background-color: #fef8ef; }
  .page [class*="color-"].color-orange-darken-9 {
    background-color: #211502; }
  .page [class*="color-"].color-red-lighten-9 {
    background-color: #fbdbdb; }
  .page [class*="color-"].color-red-darken-9 {
    background-color: #0a0101; }
  .page [class*="color-"].color-yellow-lighten-9 {
    background-color: #fff6bc; }
  .page [class*="color-"].color-yellow-darken-9 {
    background-color: black; }
  .page [class*="color-"].color-purple-lighten-9 {
    background-color: #f5f4f9; }
  .page [class*="color-"].color-purple-darken-9 {
    background-color: #0d0c16; }
  .page [class*="color-"].color-brown-lighten-9 {
    background-color: #f4eeea; }
  .page [class*="color-"].color-brown-darken-9 {
    background-color: #0c0906; }
  .page [class*="color-"].color-pink-lighten-9 {
    background-color: white; }
  .page [class*="color-"].color-pink-darken-9 {
    background-color: #540054; }
  .page [class*="color-"].color-black-lighten-9 {
    background-color: #a6a6a6; }
  .page [class*="color-"].color-black-darken-9 {
    background-color: black; }
  .page [class*="color-"].color-white-lighten-9 {
    background-color: white; }
  .page [class*="color-"].color-white-darken-9 {
    background-color: #8c8c8c; }
  .page [class*="color-"].color-skin-lighten-9 {
    background-color: white; }
  .page [class*="color-"].color-skin-darken-9 {
    background-color: #c76b00; }
  .page [class*="color-"].color-grey-lighten-10 {
    background-color: white; }
  .page [class*="color-"].color-grey-darken-10 {
    background-color: #3c3c3c; }
  .page [class*="color-"].color-blue-lighten-10 {
    background-color: #f1f6fe; }
  .page [class*="color-"].color-blue-darken-10 {
    background-color: black; }
  .page [class*="color-"].color-green-lighten-10 {
    background-color: #ecf6ec; }
  .page [class*="color-"].color-green-darken-10 {
    background-color: black; }
  .page [class*="color-"].color-cyan-lighten-10 {
    background-color: white; }
  .page [class*="color-"].color-cyan-darken-10 {
    background-color: #030d0f; }
  .page [class*="color-"].color-orange-lighten-10 {
    background-color: white; }
  .page [class*="color-"].color-orange-darken-10 {
    background-color: #090500; }
  .page [class*="color-"].color-red-lighten-10 {
    background-color: #fef2f2; }
  .page [class*="color-"].color-red-darken-10 {
    background-color: black; }
  .page [class*="color-"].color-yellow-lighten-10 {
    background-color: #fffad5; }
  .page [class*="color-"].color-yellow-darken-10 {
    background-color: black; }
  .page [class*="color-"].color-purple-lighten-10 {
    background-color: white; }
  .page [class*="color-"].color-purple-darken-10 {
    background-color: #030305; }
  .page [class*="color-"].color-brown-lighten-10 {
    background-color: #fdfbfa; }
  .page [class*="color-"].color-brown-darken-10 {
    background-color: black; }
  .page [class*="color-"].color-pink-lighten-10 {
    background-color: white; }
  .page [class*="color-"].color-pink-darken-10 {
    background-color: #3a003a; }
  .page [class*="color-"].color-black-lighten-10 {
    background-color: #b3b3b3; }
  .page [class*="color-"].color-black-darken-10 {
    background-color: black; }
  .page [class*="color-"].color-white-lighten-10 {
    background-color: white; }
  .page [class*="color-"].color-white-darken-10 {
    background-color: gray; }
  .page [class*="color-"].color-skin-lighten-10 {
    background-color: white; }
  .page [class*="color-"].color-skin-darken-10 {
    background-color: #ad5d00; }
  .page [class*="color-"].color-grey-lighten-11 {
    background-color: white; }
  .page [class*="color-"].color-grey-darken-11 {
    background-color: #2f2f2f; }
  .page [class*="color-"].color-blue-lighten-11 {
    background-color: white; }
  .page [class*="color-"].color-blue-darken-11 {
    background-color: black; }
  .page [class*="color-"].color-green-lighten-11 {
    background-color: #fdfefd; }
  .page [class*="color-"].color-green-darken-11 {
    background-color: black; }
  .page [class*="color-"].color-cyan-lighten-11 {
    background-color: white; }
  .page [class*="color-"].color-cyan-darken-11 {
    background-color: black; }
  .page [class*="color-"].color-orange-lighten-11 {
    background-color: white; }
  .page [class*="color-"].color-orange-darken-11 {
    background-color: black; }
  .page [class*="color-"].color-red-lighten-11 {
    background-color: white; }
  .page [class*="color-"].color-red-darken-11 {
    background-color: black; }
  .page [class*="color-"].color-yellow-lighten-11 {
    background-color: #fffdef; }
  .page [class*="color-"].color-yellow-darken-11 {
    background-color: black; }
  .page [class*="color-"].color-purple-lighten-11 {
    background-color: white; }
  .page [class*="color-"].color-purple-darken-11 {
    background-color: black; }
  .page [class*="color-"].color-brown-lighten-11 {
    background-color: white; }
  .page [class*="color-"].color-brown-darken-11 {
    background-color: black; }
  .page [class*="color-"].color-pink-lighten-11 {
    background-color: white; }
  .page [class*="color-"].color-pink-darken-11 {
    background-color: #210021; }
  .page [class*="color-"].color-black-lighten-11 {
    background-color: #bfbfbf; }
  .page [class*="color-"].color-black-darken-11 {
    background-color: black; }
  .page [class*="color-"].color-white-lighten-11 {
    background-color: white; }
  .page [class*="color-"].color-white-darken-11 {
    background-color: #737373; }
  .page [class*="color-"].color-skin-lighten-11 {
    background-color: white; }
  .page [class*="color-"].color-skin-darken-11 {
    background-color: #944f00; }
  .page [class*="color-"].color-grey-lighten-12 {
    background-color: white; }
  .page [class*="color-"].color-grey-darken-12 {
    background-color: #222222; }
  .page [class*="color-"].color-blue-lighten-12 {
    background-color: white; }
  .page [class*="color-"].color-blue-darken-12 {
    background-color: black; }
  .page [class*="color-"].color-green-lighten-12 {
    background-color: white; }
  .page [class*="color-"].color-green-darken-12 {
    background-color: black; }
  .page [class*="color-"].color-cyan-lighten-12 {
    background-color: white; }
  .page [class*="color-"].color-cyan-darken-12 {
    background-color: black; }
  .page [class*="color-"].color-orange-lighten-12 {
    background-color: white; }
  .page [class*="color-"].color-orange-darken-12 {
    background-color: black; }
  .page [class*="color-"].color-red-lighten-12 {
    background-color: white; }
  .page [class*="color-"].color-red-darken-12 {
    background-color: black; }
  .page [class*="color-"].color-yellow-lighten-12 {
    background-color: white; }
  .page [class*="color-"].color-yellow-darken-12 {
    background-color: black; }
  .page [class*="color-"].color-purple-lighten-12 {
    background-color: white; }
  .page [class*="color-"].color-purple-darken-12 {
    background-color: black; }
  .page [class*="color-"].color-brown-lighten-12 {
    background-color: white; }
  .page [class*="color-"].color-brown-darken-12 {
    background-color: black; }
  .page [class*="color-"].color-pink-lighten-12 {
    background-color: white; }
  .page [class*="color-"].color-pink-darken-12 {
    background-color: #070007; }
  .page [class*="color-"].color-black-lighten-12 {
    background-color: #cccccc; }
  .page [class*="color-"].color-black-darken-12 {
    background-color: black; }
  .page [class*="color-"].color-white-lighten-12 {
    background-color: white; }
  .page [class*="color-"].color-white-darken-12 {
    background-color: #666666; }
  .page [class*="color-"].color-skin-lighten-12 {
    background-color: white; }
  .page [class*="color-"].color-skin-darken-12 {
    background-color: #7a4100; }
  .page [class*="color-"].color-grey-lighten-13 {
    background-color: white; }
  .page [class*="color-"].color-grey-darken-13 {
    background-color: #151515; }
  .page [class*="color-"].color-blue-lighten-13 {
    background-color: white; }
  .page [class*="color-"].color-blue-darken-13 {
    background-color: black; }
  .page [class*="color-"].color-green-lighten-13 {
    background-color: white; }
  .page [class*="color-"].color-green-darken-13 {
    background-color: black; }
  .page [class*="color-"].color-cyan-lighten-13 {
    background-color: white; }
  .page [class*="color-"].color-cyan-darken-13 {
    background-color: black; }
  .page [class*="color-"].color-orange-lighten-13 {
    background-color: white; }
  .page [class*="color-"].color-orange-darken-13 {
    background-color: black; }
  .page [class*="color-"].color-red-lighten-13 {
    background-color: white; }
  .page [class*="color-"].color-red-darken-13 {
    background-color: black; }
  .page [class*="color-"].color-yellow-lighten-13 {
    background-color: white; }
  .page [class*="color-"].color-yellow-darken-13 {
    background-color: black; }
  .page [class*="color-"].color-purple-lighten-13 {
    background-color: white; }
  .page [class*="color-"].color-purple-darken-13 {
    background-color: black; }
  .page [class*="color-"].color-brown-lighten-13 {
    background-color: white; }
  .page [class*="color-"].color-brown-darken-13 {
    background-color: black; }
  .page [class*="color-"].color-pink-lighten-13 {
    background-color: white; }
  .page [class*="color-"].color-pink-darken-13 {
    background-color: black; }
  .page [class*="color-"].color-black-lighten-13 {
    background-color: #d9d9d9; }
  .page [class*="color-"].color-black-darken-13 {
    background-color: black; }
  .page [class*="color-"].color-white-lighten-13 {
    background-color: white; }
  .page [class*="color-"].color-white-darken-13 {
    background-color: #595959; }
  .page [class*="color-"].color-skin-lighten-13 {
    background-color: white; }
  .page [class*="color-"].color-skin-darken-13 {
    background-color: #613400; }
  .page [class*="color-"].color-grey-lighten-14 {
    background-color: white; }
  .page [class*="color-"].color-grey-darken-14 {
    background-color: #090909; }
  .page [class*="color-"].color-blue-lighten-14 {
    background-color: white; }
  .page [class*="color-"].color-blue-darken-14 {
    background-color: black; }
  .page [class*="color-"].color-green-lighten-14 {
    background-color: white; }
  .page [class*="color-"].color-green-darken-14 {
    background-color: black; }
  .page [class*="color-"].color-cyan-lighten-14 {
    background-color: white; }
  .page [class*="color-"].color-cyan-darken-14 {
    background-color: black; }
  .page [class*="color-"].color-orange-lighten-14 {
    background-color: white; }
  .page [class*="color-"].color-orange-darken-14 {
    background-color: black; }
  .page [class*="color-"].color-red-lighten-14 {
    background-color: white; }
  .page [class*="color-"].color-red-darken-14 {
    background-color: black; }
  .page [class*="color-"].color-yellow-lighten-14 {
    background-color: white; }
  .page [class*="color-"].color-yellow-darken-14 {
    background-color: black; }
  .page [class*="color-"].color-purple-lighten-14 {
    background-color: white; }
  .page [class*="color-"].color-purple-darken-14 {
    background-color: black; }
  .page [class*="color-"].color-brown-lighten-14 {
    background-color: white; }
  .page [class*="color-"].color-brown-darken-14 {
    background-color: black; }
  .page [class*="color-"].color-pink-lighten-14 {
    background-color: white; }
  .page [class*="color-"].color-pink-darken-14 {
    background-color: black; }
  .page [class*="color-"].color-black-lighten-14 {
    background-color: #e6e6e6; }
  .page [class*="color-"].color-black-darken-14 {
    background-color: black; }
  .page [class*="color-"].color-white-lighten-14 {
    background-color: white; }
  .page [class*="color-"].color-white-darken-14 {
    background-color: #4d4d4d; }
  .page [class*="color-"].color-skin-lighten-14 {
    background-color: white; }
  .page [class*="color-"].color-skin-darken-14 {
    background-color: #472600; }
  .page [class*="color-"].color-grey-lighten-15 {
    background-color: white; }
  .page [class*="color-"].color-grey-darken-15 {
    background-color: black; }
  .page [class*="color-"].color-blue-lighten-15 {
    background-color: white; }
  .page [class*="color-"].color-blue-darken-15 {
    background-color: black; }
  .page [class*="color-"].color-green-lighten-15 {
    background-color: white; }
  .page [class*="color-"].color-green-darken-15 {
    background-color: black; }
  .page [class*="color-"].color-cyan-lighten-15 {
    background-color: white; }
  .page [class*="color-"].color-cyan-darken-15 {
    background-color: black; }
  .page [class*="color-"].color-orange-lighten-15 {
    background-color: white; }
  .page [class*="color-"].color-orange-darken-15 {
    background-color: black; }
  .page [class*="color-"].color-red-lighten-15 {
    background-color: white; }
  .page [class*="color-"].color-red-darken-15 {
    background-color: black; }
  .page [class*="color-"].color-yellow-lighten-15 {
    background-color: white; }
  .page [class*="color-"].color-yellow-darken-15 {
    background-color: black; }
  .page [class*="color-"].color-purple-lighten-15 {
    background-color: white; }
  .page [class*="color-"].color-purple-darken-15 {
    background-color: black; }
  .page [class*="color-"].color-brown-lighten-15 {
    background-color: white; }
  .page [class*="color-"].color-brown-darken-15 {
    background-color: black; }
  .page [class*="color-"].color-pink-lighten-15 {
    background-color: white; }
  .page [class*="color-"].color-pink-darken-15 {
    background-color: black; }
  .page [class*="color-"].color-black-lighten-15 {
    background-color: #f2f2f2; }
  .page [class*="color-"].color-black-darken-15 {
    background-color: black; }
  .page [class*="color-"].color-white-lighten-15 {
    background-color: white; }
  .page [class*="color-"].color-white-darken-15 {
    background-color: #404040; }
  .page [class*="color-"].color-skin-lighten-15 {
    background-color: white; }
  .page [class*="color-"].color-skin-darken-15 {
    background-color: #2e1800; }
