/* ------------------------------------------------------------------ SOCIAL */
/* ------------------------------------------------------------------ COMPONENT EXTRA LIGHT */
/* ------------------------------------------------------------------ COMPONENT LIGHT */
/* ------------------------------------------------------------------ COMPONENT REGULAR */
/* ------------------------------------------------------------------ COMPONENT DARK */
/* ------------------------------------------------------------------ FOCUS */
/* ------------------------------------------------------------------ TRIANGLE */
/* ------------------------------------------------------------------ Z-INDEX */
/* ------------------------------------------------------------------ PSEUDO ELEMENT */
* {
  color: #555555;
  font-family: "chewy";
  font-size: 16px; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

img {
  align-self: flex-start; }

strong {
  font-family: inherit;
  font-weight: initial; }

.button,
.form__fill {
  border-width: 2px; }

.menu-main {
  background-color: #e1e1e1;
  border-bottom: 1px solid #d5d5d5;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 6; }
  .menu-main .form__fill {
    margin: 5px;
    width: auto; }
  .menu-main .button--white,
  .menu-main .form__fill {
    border-color: #c8c8c8; }
  .menu-main__primary, .menu-main__secondary {
    display: flex;
    flex: 1; }
  .menu-main__secondary {
    justify-content: flex-end; }

.button--animation {
  animation: animation-button 3s infinite; }

@keyframes animation-button {
  0% {
    transform: scale3d(1, 1, 1); }
  3% {
    transform: scale3d(1.25, 0.75, 1); }
  6% {
    transform: scale3d(0.75, 2.25, 1); }
  9% {
    transform: scale3d(1.15, 0.85, 1); }
  12% {
    transform: scale3d(0.95, 1.05, 1); }
  15% {
    transform: scale3d(1.05, 0.95, 1); }
  18%,
  100% {
    transform: scale3d(1, 1, 1); } }
