@charset "UTF-8";
/* ------------------------------------------------------------------ SOCIAL */
/* ------------------------------------------------------------------ COMPONENT EXTRA LIGHT */
/* ------------------------------------------------------------------ COMPONENT LIGHT */
/* ------------------------------------------------------------------ COMPONENT REGULAR */
/* ------------------------------------------------------------------ COMPONENT DARK */
/* ------------------------------------------------------------------ FOCUS */
/* ------------------------------------------------------------------ TRIANGLE */
/* ------------------------------------------------------------------ Z-INDEX */
/* ------------------------------------------------------------------ PSEUDO ELEMENT */
.page__home {
  padding-bottom: 20px; }
  @media (min-width: 1024px) {
    .page__home {
      padding-bottom: 0; } }
  .page__home .character-wizzard {
    margin-top: 50px;
    max-width: initial;
    padding-bottom: 20px;
    position: relative;
    width: 350px; }
  .page__home .ranking .card {
    margin: 20px 0 0 0;
    width: 100%; }
    @media (min-width: 1024px) {
      .page__home .ranking .card {
        margin: 0; } }
    .page__home .ranking .card .card__body {
      border-bottom: 0;
      border-left: 2px dotted #e1e1e1;
      border-right: 2px dotted #e1e1e1;
      border-top: 0;
      margin-top: 10px;
      padding-left: 20px;
      padding-right: 20px; }
    .page__home .ranking .card footer {
      margin-top: 10px; }
  .page__home .ranking .tab {
    border-bottom-color: transparent;
    margin: 10px auto; }
  .page__home .ranking .table {
    border: 0;
    counter-reset: rowNumber; }
    .page__home .ranking .table th {
      color: #a2a2a2;
      font-weight: initial; }
    .page__home .ranking .table th,
    .page__home .ranking .table header {
      background-color: #e1e1e1;
      border-color: #e1e1e1; }
    .page__home .ranking .table header {
      padding: 0 0 5px 0; }
    .page__home .ranking .table footer {
      background-color: transparent;
      border-color: transparent;
      padding-left: 0;
      padding-right: 0; }
    .page__home .ranking .table tbody tr {
      background-color: #ffffff;
      border-bottom: 2px dotted #e1e1e1;
      counter-increment: rowNumber; }
      .page__home .ranking .table tbody tr:last-child {
        border-color: transparent; }
      .page__home .ranking .table tbody tr td {
        border-color: transparent;
        color: #555555;
        padding-left: 20px;
        vertical-align: middle; }
        .page__home .ranking .table tbody tr td:last-child {
          color: #f49c14; }
        .page__home .ranking .table tbody tr td:first-child::before {
          content: counter(rowNumber); }
        .page__home .ranking .table tbody tr td:first-child {
          color: #bbbbbb; }
          .page__home .ranking .table tbody tr td:first-child:after {
            content: '°'; }

* {
  color: #555555;
  font-family: "chewy";
  font-size: 18px; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

img {
  align-self: flex-start; }

strong {
  font-family: inherit;
  font-weight: initial; }

.button,
.form__fill {
  border-width: 2px; }

.menu-main {
  background-color: #e1e1e1;
  border-bottom: 1px solid #d5d5d5;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 6; }
  .menu-main .form__fill {
    margin: 5px;
    width: auto; }
  .menu-main .button--white,
  .menu-main .form__fill {
    border-color: #c8c8c8; }
  .menu-main__primary, .menu-main__secondary {
    display: flex;
    flex: 1; }
  .menu-main__secondary {
    justify-content: flex-end; }

.logo-link {
  display: block;
  margin: auto; }
  .logo-link__image {
    height: auto;
    margin: -100px auto 0 auto;
    position: relative;
    width: 150px;
    z-index: 1; }
    @media (min-width: 1024px) {
      .logo-link__image {
        margin: -160px auto 0 auto;
        width: 230px; } }
    @media (min-width: 1600px) {
      .logo-link__image {
        margin: -210px auto 0 auto;
        width: 300px; } }

.button--animation {
  animation: animation-button 3s infinite; }

@keyframes animation-button {
  0% {
    transform: scale3d(1, 1, 1); }
  3% {
    transform: scale3d(1.25, 0.75, 1); }
  6% {
    transform: scale3d(0.75, 2.25, 1); }
  9% {
    transform: scale3d(1.15, 0.85, 1); }
  12% {
    transform: scale3d(0.95, 1.05, 1); }
  15% {
    transform: scale3d(1.05, 0.95, 1); }
  18%,
  100% {
    transform: scale3d(1, 1, 1); } }

.button--big {
  font-size: 26px; }

.button--regular {
  font-size: 18px; }

.button--full {
  justify-content: center;
  width: 100%; }

.carousel__controller--over {
  bottom: 280px; }

.title {
  color: #a2a2a2;
  font-size: 30px;
  text-align: center; }
  @media (min-width: 1600px) {
    .title {
      font-size: 40px; } }

.page {
  display: flex;
  padding-bottom: 20px;
  padding-top: 20px; }

.column--small,
.column--big {
  padding-left: 20px;
  padding-right: 20px; }

.column--small {
  width: 25%; }

.column--big {
  flex: 1; }
