/* ------------------------------------------------------------------ SOCIAL */
/* ------------------------------------------------------------------ COMPONENT EXTRA LIGHT */
/* ------------------------------------------------------------------ COMPONENT LIGHT */
/* ------------------------------------------------------------------ COMPONENT REGULAR */
/* ------------------------------------------------------------------ COMPONENT DARK */
/* ------------------------------------------------------------------ FOCUS */
/* ------------------------------------------------------------------ TRIANGLE */
/* ------------------------------------------------------------------ Z-INDEX */
/* ------------------------------------------------------------------ PSEUDO ELEMENT */
.menu-main {
  flex: inherit;
  position: relative; }

.cke_inner,
.cke_editor_fieldContent,
textarea {
  width: 100% !important; }

.table {
  margin-bottom: 40px; }

.color--red {
  color: #d91818; }

.button-wrapper {
  display: flex; }

p {
  text-align: center; }

.row table thead tr th {
  text-align: left; }

.page__login {
  align-items: center;
  background-color: transparent;
  height: 100%;
  margin: auto; }
  .page__login .login-wrapper {
    background-color: white;
    border-radius: 10px;
    height: auto;
    margin: auto;
    max-width: 500px;
    padding: 20px; }

.page__upload-image .column {
  flex: 1;
  padding: 20px; }
