/*regular*/
/*small*/
/*extra small*/
/*big*/
/*extra big*/
/* ------------------------------------------------------------------ SOCIAL */
/* ------------------------------------------------------------------ COMPONENT EXTRA LIGHT */
/* ------------------------------------------------------------------ COMPONENT LIGHT */
/* ------------------------------------------------------------------ COMPONENT REGULAR*/
/* ------------------------------------------------------------------ COMPONENT DARK */
/* ------------------------------------------------------------------ COMPONENT FOCUS */
/* ------------------------------------------------------------------ COMPONENT EXTRA LIGHT */
/* ------------------------------------------------------------------ COMPONENT LIGHT */
/* ------------------------------------------------------------------ COMPONENT REGULAR */
/* ------------------------------------------------------------------ COMPONENT DARK */
/* ------------------------------------------------------------------ FOCUS */
/* ------------------------------------------------------------------ TRIANGLE */
/* ------------------------------------------------------------------ Z-INDEX */
/* ------------------------------------------------------------------ PSEUDO ELEMENT */
/*$font-family-regular: 'roboto-regular';
$font-family-thin: 'roboto-thin';
$font-family-black: 'roboto-black';
$font-family-bold: 'roboto-bold';*/
.table .menu {
  white-space: nowrap; }

.table b,
.table strong {
  font-family: inherit;
  font-weight: inherit;
  color: #d91818; }

#pageAdminLogin {
  background-color: transparent;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  #pageAdminLogin .login-wrapper {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    height: auto;
    margin: auto; }

.table-wrapper {
  max-height: 300px;
  overflow-y: auto; }

.thumbnail-table {
  text-align: left; }

.table img {
  width: auto;
  height: 50px; }

.table .fa {
  color: white; }

.user {
  padding: 10px;
  text-align: right; }

#pageAdminMenu {
  margin-top: 30px; }

/* ------------------------------------------------------------------ SOCIAL */
/* ------------------------------------------------------------------ COMPONENT EXTRA LIGHT */
/* ------------------------------------------------------------------ COMPONENT LIGHT */
/* ------------------------------------------------------------------ COMPONENT REGULAR*/
/* ------------------------------------------------------------------ COMPONENT DARK */
/* ------------------------------------------------------------------ COMPONENT FOCUS */
/* ------------------------------------------------------------------ COMPONENT EXTRA LIGHT */
/* ------------------------------------------------------------------ COMPONENT LIGHT */
/* ------------------------------------------------------------------ COMPONENT REGULAR */
/* ------------------------------------------------------------------ COMPONENT DARK */
/* ------------------------------------------------------------------ FOCUS */
/* ------------------------------------------------------------------ TRIANGLE */
/* ------------------------------------------------------------------ Z-INDEX */
/* ------------------------------------------------------------------ PSEUDO ELEMENT */
/*regular*/
/*small*/
/*extra small*/
/*big*/
/*extra big*/
