@charset "UTF-8";
/*regular*/
/*small*/
/*extra small*/
/*big*/
/*extra big*/
/* ------------------------------------------------------------------ SOCIAL */
/* ------------------------------------------------------------------ COMPONENT EXTRA LIGHT */
/* ------------------------------------------------------------------ COMPONENT LIGHT */
/* ------------------------------------------------------------------ COMPONENT REGULAR*/
/* ------------------------------------------------------------------ COMPONENT DARK */
/* ------------------------------------------------------------------ COMPONENT FOCUS */
/* ------------------------------------------------------------------ COMPONENT EXTRA LIGHT */
/* ------------------------------------------------------------------ COMPONENT LIGHT */
/* ------------------------------------------------------------------ COMPONENT REGULAR */
/* ------------------------------------------------------------------ COMPONENT DARK */
/* ------------------------------------------------------------------ FOCUS */
/* ------------------------------------------------------------------ TRIANGLE */
/* ------------------------------------------------------------------ Z-INDEX */
/* ------------------------------------------------------------------ PSEUDO ELEMENT */
/*$font-family-regular: 'roboto-regular';
$font-family-thin: 'roboto-thin';
$font-family-black: 'roboto-black';
$font-family-bold: 'roboto-bold';*/
#accountReset .bt-fu {
  padding: 30px; }

#pageBlog .col-first {
  padding-right: 0; }
  @media (min-width: 992px) {
    #pageBlog .col-first {
      padding-right: 40px; } }

#pageBlog .empty-list {
  text-align: center;
  width: 100%; }

@media (min-width: 992px) {
  #pageBlog .blog-list {
    margin-top: 40px; } }

#pageBlog .blog-list .link {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px dotted #e1e1e1;
  text-decoration: none;
  width: 100%; }
  #pageBlog .blog-list .link:focus .blog-list-title {
    text-decoration: underline; }
  #pageBlog .blog-list .link:last-child {
    border-bottom: none; }

#pageBlog .blog-list .blog-list-image-wrapper {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    #pageBlog .blog-list .blog-list-image-wrapper {
      flex-direction: row; } }

#pageBlog .blog-list .blog-list-image {
  width: 100%; }

#pageBlog .blog-list .blog-list-text {
  padding: 0 40px 0 0; }
  @media (min-width: 768px) {
    #pageBlog .blog-list .blog-list-text {
      padding: 0 40px 0 20px; } }
  #pageBlog .blog-list .blog-list-text .blog-list-title {
    font-size: 1.4rem !important;
    margin: 10px 0 0 0;
    color: #1761d9; }
    @media (min-width: 768px) {
      #pageBlog .blog-list .blog-list-text .blog-list-title {
        margin-top: 0; } }
  #pageBlog .blog-list .blog-list-text .text {
    margin: 10px 0 0 0;
    color: #555555; }

#pageBlog .date {
  display: flex;
  margin-top: 10px;
  color: #bbbbbb;
  font-size: 0.7rem !important; }

#pageBlog .author {
  font-style: italic;
  font-size: 0.7rem !important;
  padding-left: 1rem; }

#pageBlog .bt-fu {
  padding: 30px; }

@media (min-width: 992px) {
  #pageBlogMostViewed .blog-list-image {
    max-width: 200px; } }

@media (min-width: 992px) {
  #pageBlogMostViewed .blog-list-text .text {
    display: none; } }

@media (min-width: 992px) {
  #pageBlogLastPost .blog-list-image {
    max-width: 300px; } }

.tag-list {
  margin-left: 0 !important; }

#accountActivate p,
#accountReset p,
#contact p {
  text-align: center; }

#accountActivate .bt-fu {
  text-align: center;
  padding: 30px; }

#pagePlay {
  background: url("../img/tile.png") repeat #4b9a49; }

#pagePlay,
#pagePlay iframe {
  border: 0;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  border: 0; }

@media only screen and (min-width: 0) {
  #home .logo {
    margin: -100px auto 0 auto;
    width: 150px; } }

@media only screen and (min-width: 992px) {
  #home .logo {
    margin: -210px auto 0 auto;
    width: 300px; } }

#about .bt {
  width: 100%; }

#promote textarea {
  height: 100px;
  min-height: auto;
  background-color: #eeeeee; }

#promote p {
  text-align: center; }

#promote img {
  margin: auto;
  max-width: 100%; }

#pageContact p {
  text-align: center; }

#pageContact .form-contact {
  padding-bottom: 30px; }
  #pageContact .form-contact .bt-fu {
    padding: 30px; }

#pageWiki .table {
  margin-bottom: 40px; }

@media (min-width: 992px) {
  #pageWiki .col-2 {
    padding-left: 20px; }
    #pageWiki .col-2 .title {
      text-align: left !important; } }

#pageBlogPost .col-first img {
  max-width: 100%;
  margin: auto; }

#pageBlogPost .col-first p,
#pageBlogPost .col-first ul {
  line-height: 150%;
  margin: 40px auto;
  max-width: 900px; }

#pageBlogPost .col-first ul {
  margin-left: 40px; }

#pageBlogPost .tag-list {
  margin-top: 10px !important; }

#error {
  text-align: center; }
  @media (min-width: 992px) {
    #error * {
      text-align: left; } }

#pagePromote {
  text-align: center; }
  #pagePromote textarea {
    min-height: 90px; }

* {
  font-family: 'Chewy', cursive;
  font-size: 19px !important;
  color: #555555; }

img {
  align-self: flex-start; }

body {
  min-height: 100%;
  display: flex;
  flex-direction: column; }

strong {
  font-family: inherit;
  font-weight: initial; }

.page-title,
.title {
  font-size: 30px !important;
  color: #a2a2a2;
  text-align: center;
  font-family: 'Chewy'; }
  @media only screen and (min-width: 992px) {
    .page-title,
    .title {
      font-size: 40px !important; } }

th {
  color: #a2a2a2 !important; }

.notify-list {
  width: 100%;
  margin-right: 6px;
  margin-top: 5px; }
  .notify-list .notify-item {
    width: auto; }
  .notify-list .bt {
    width: 40px !important; }

#loadingMain {
  z-index: 99999999;
  background-color: #bbbbbb; }

#mainMenu {
  position: fixed;
  z-index: 3;
  width: 100%;
  padding: 10px;
  background-color: #e1e1e1;
  border-bottom: 1px solid #d5d5d5; }
  #mainMenu select {
    border-color: #c8c8c8; }
  #mainMenu .bt-toggle {
    float: left;
    margin: 2.5px; }
    #mainMenu .bt-toggle span {
      color: #ffffff;
      margin: 8px 0; }
  #mainMenu .form {
    float: right; }
  #mainMenu .menu-drop-down {
    width: 100%; }
    #mainMenu .menu-drop-down li {
      width: 100%; }
    @media only screen and (min-width: 992px) {
      #mainMenu .menu-drop-down {
        width: auto;
        float: left; }
        #mainMenu .menu-drop-down li {
          width: auto; } }

.bt-animation {
  animation: animation-button 3s infinite; }

@keyframes animation-button {
  0% {
    transform: scale3d(1, 1, 1); }
  3% {
    transform: scale3d(1.25, 0.75, 1); }
  6% {
    transform: scale3d(0.75, 2.25, 1); }
  9% {
    transform: scale3d(1.15, 0.85, 1); }
  12% {
    transform: scale3d(0.95, 1.05, 1); }
  15% {
    transform: scale3d(1.05, 0.95, 1); }
  18%,
  100% {
    transform: scale3d(1, 1, 1); } }

#about {
  height: 100%; }

@media only screen and (min-width: 0) {
  #gameDev .title,
  #about .title {
    text-align: center; } }

@media only screen and (min-width: 992px) {
  #gameDev .title,
  #about .title {
    text-align: left; } }

@media only screen and (min-width: 0) {
  #ranking,
  #about {
    padding-top: 0;
    padding-bottom: 0; } }

@media only screen and (min-width: 992px) {
  #ranking,
  #about {
    padding-top: 20px;
    padding-bottom: 20px; } }

@media only screen and (min-width: 0) {
  #ranking {
    padding-bottom: 20px; } }

@media only screen and (min-width: 992px) {
  #ranking {
    padding-bottom: 0; } }

@media only screen and (min-width: 0) {
  #ranking .card {
    margin: 20px 0 0 0; } }

@media only screen and (min-width: 992px) {
  #ranking .card {
    margin: 0; } }

#ranking .card .card-body {
  padding-left: 20px;
  padding-right: 20px;
  border-left: 2px dotted #e1e1e1;
  border-right: 2px dotted #e1e1e1;
  margin-top: 10px; }

#ranking img {
  width: 50px;
  height: auto; }

#ranking footer .bt {
  padding: 30px; }

.ranking th,
.ranking header {
  background-color: #e1e1e1;
  border-color: #e1e1e1; }

.ranking header {
  background-color: #e1e1e1;
  border-color: #e1e1e1;
  padding: 0 0 5px 0; }

.ranking footer {
  background-color: transparent;
  border-color: transparent;
  padding-left: 0;
  padding-right: 0; }

.ranking tbody td {
  border-color: transparent;
  vertical-align: middle; }

.ranking table tbody td {
  color: #555555; }
  .ranking table tbody td:first-child {
    color: #bbbbbb; }
  .ranking table tbody td:last-child {
    color: #f49c14; }

.ranking table {
  counter-reset: rowNumber;
  border: 0; }
  .ranking table tbody tr {
    counter-increment: rowNumber;
    border-bottom: 2px dotted #e1e1e1;
    background-color: #ffffff !important; }
    .ranking table tbody tr:last-child {
      border-color: transparent; }
    .ranking table tbody tr td {
      padding-left: 20px;
      border-color: transparent; }
      .ranking table tbody tr td:first-child::before {
        content: counter(rowNumber); }
      .ranking table tbody tr td:first-child:after {
        content: '°'; }

#gameDev {
  color: #333333; }
  #gameDev p {
    text-align: left; }
  @media only screen and (min-width: 0) {
    #gameDev {
      background-color: #ffffff; } }
  @media only screen and (min-width: 992px) {
    #gameDev {
      background-color: #e1e1e1; } }
  #gameDev .link {
    font-size: 20px; }
  @media only screen and (min-width: 0) {
    #gameDev .text {
      padding-top: 0px;
      padding-bottom: 40px; } }
  @media only screen and (min-width: 992px) {
    #gameDev .text {
      padding-top: 70px; } }

#mainFooter {
  margin-top: auto; }
  #mainFooter .col-1,
  #mainFooter .col-2 {
    padding: 10px; }
    @media only screen and (min-width: 0) {
      #mainFooter .col-1,
      #mainFooter .col-2 {
        text-align: center; } }
  @media only screen and (min-width: 0) {
    #mainFooter .col-1 {
      background-color: #e1e1e1; } }
  @media only screen and (min-width: 992px) {
    #mainFooter .col-1 {
      background-color: #c8c8c8;
      text-align: left; } }
  @media only screen and (min-width: 0) {
    #mainFooter .col-2 {
      background-color: #c8c8c8; } }
  @media only screen and (min-width: 992px) {
    #mainFooter .col-2 {
      background-color: #c8c8c8;
      text-align: right; } }
  #mainFooter .bt {
    border-color: #aeaeae; }
    #mainFooter .bt:hover {
      border-color: #888888; }

select,
.bt {
  border-width: 2px !important; }

.bt-white {
  border-color: #c8c8c8; }
  .bt-white:hover {
    border-color: #959595;
    background-color: #959595;
    color: #fbfbfb; }

.padding-content {
  padding-left: 20px;
  padding-right: 20px; }

.carousel .carousel-controller-over {
  top: 70px;
  bottom: auto; }
  @media only screen and (min-width: 0) {
    .carousel .carousel-controller-over {
      display: none; } }
  @media only screen and (min-width: 992px) {
    .carousel .carousel-controller-over {
      display: inline-table; } }

.carousel img {
  max-height: 400px;
  width: 100%; }
  @media only screen and (min-width: 0) {
    .carousel img {
      margin-top: 70px; } }
  @media only screen and (min-width: 992px) {
    .carousel img {
      margin-top: 0; } }

.logo-link {
  display: table;
  margin: auto; }
  @media only screen and (min-width: 992px) {
    .logo-link {
      margin: 0 auto 20px auto; } }
  .logo-link .logo {
    height: auto;
    width: 150px;
    margin: -100px auto 0 auto; }
    @media only screen and (min-width: 992px) {
      .logo-link .logo {
        width: 230px;
        margin: -160px auto 0 auto; } }
    @media only screen and (min-width: 1366px) {
      .logo-link .logo {
        width: 300px;
        margin: -210px auto 0 auto; } }

.logo-link-small .logo {
  height: auto;
  width: 130px;
  margin: 95px auto 0 auto; }
  @media only screen and (min-width: 992px) {
    .logo-link-small .logo {
      width: 200px; } }

th {
  font-family: 'Chewy', cursive !important;
  font-weight: normal; }

.character-wizzard,
.character-warrior {
  height: auto;
  pointer-events: none; }

.character-wizzard {
  position: relative;
  z-index: 2;
  margin-top: 50px;
  width: 350px;
  padding-bottom: 20px; }

.character-warrior {
  width: 375px;
  margin-top: -50px !important;
  padding-bottom: 20px; }

.social li {
  margin-left: 1px !important;
  margin-right: 1px !important; }

.social .bt {
  padding: 10px; }
  .social .bt img {
    width: 18px;
    height: auto; }

.form textarea,
.form input {
  border-width: 2px !important; }

#modal {
  z-index: 4; }

#rankingSearch p {
  text-align: center; }

#rankingSearch .form {
  padding-bottom: 30px; }

#rankingSearch .ranking {
  margin-bottom: 30px; }

.color-red {
  color: #d91818 !important; }

#screenshot {
  padding: 10px 0 40px 0;
  text-align: center; }
  @media (min-width: 992px) {
    #screenshot {
      padding: 0 0 40px 0; } }

.template-clean-padding-content {
  padding-bottom: 50px; }

.gallery {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: auto;
  padding: 20px; }
  .gallery .link {
    margin: 10px auto;
    display: inline-flex;
    overflow: hidden;
    border-radius: 100%;
    border: 0;
    width: 30%; }
    @media (min-width: 768px) {
      .gallery .link {
        flex: 1;
        max-width: 200px;
        margin: 20px; } }
    @media (min-width: 992px) {
      .gallery .link {
        border: 7px solid #e1e1e1; } }
    .gallery .link:before {
      content: '';
      float: left;
      padding-top: 100%; }
    .gallery .link:not(:hover) {
      transform: scale(1);
      transition: 0.3s; }
      .gallery .link:not(:hover) > img {
        transition: 0.3s;
        transform: scale(1); }
    .gallery .link:hover {
      transition: 0.3s;
      transform: scale(0.8); }
      .gallery .link:hover > img {
        transition: 0.3s;
        transform: scale(1.5); }
  .gallery img {
    align-self: center;
    max-width: 100%;
    object-fit: cover;
    width: 300%;
    height: 300%; }

.youtube-video {
  width: 100%;
  height: 500px;
  border: 0; }

/* ------------------------------------------------------------------ SOCIAL */
/* ------------------------------------------------------------------ COMPONENT EXTRA LIGHT */
/* ------------------------------------------------------------------ COMPONENT LIGHT */
/* ------------------------------------------------------------------ COMPONENT REGULAR*/
/* ------------------------------------------------------------------ COMPONENT DARK */
/* ------------------------------------------------------------------ COMPONENT FOCUS */
/* ------------------------------------------------------------------ COMPONENT EXTRA LIGHT */
/* ------------------------------------------------------------------ COMPONENT LIGHT */
/* ------------------------------------------------------------------ COMPONENT REGULAR */
/* ------------------------------------------------------------------ COMPONENT DARK */
/* ------------------------------------------------------------------ FOCUS */
/* ------------------------------------------------------------------ TRIANGLE */
/* ------------------------------------------------------------------ Z-INDEX */
/* ------------------------------------------------------------------ PSEUDO ELEMENT */
/*regular*/
/*small*/
/*extra small*/
/*big*/
/*extra big*/
